{
  "endOfLine": "lf",
  "bracketSpacing": true,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "preserve",
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false
}